<header>
  <div class="container">
    <a routerLink="/" class="logo"> {{ appTitle }} </a>
    <nav>
      <ul>
        <li><a routerLink="">Users</a></li>
        <li><a>Admin</a></li>
        <li><a>Analytics</a></li>
        </ul>
    </nav>
  </div>
  <mat-menu style="width: 100px !important;" #usermenu="matMenu">
    <button style="outline: none;" mat-menu-item>
      <mat-icon>account_circle</mat-icon>
      <span>{{currentUser}}</span>
    </button>

    <button (click)="logout()" style="outline: none;" mat-menu-item>
      <mat-icon style="color: #ff0000;">exit_to_app</mat-icon>
      <span>Log out</span>
    </button>
  </mat-menu>
</header>
